<a href="{{ path('helloWithName', {'name': 'Mickey'}) }}">Mickey</a>
<a href="{{ path('helloWithName', {'name': 'Donald'}) }}">Donald</a>
<a href="{{ path('helloWithName', {'name': 'Goofy'}) }}">Goofy</a>
<a href="{{ path('helloWithName', {'name': 'Pluto'}) }}">Pluto</a>